{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Delete</h1>
<br />

<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {{ form.as_p }}
        <input type="submit" value="Let's delete" class="btn btn-primary">
    </form>
</div>

{% endblock %}